*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	background: #f4f4f4;
	color: #3c3c3c;
	overflow-x: hidden;
}
.wrapper{
	widows: 100%;
	height: 100%;
}
.wrapper_nav{
	height: 36px;
	background: black;
}
.wrapper_nav_content{
	width: 1190px;
	height: 36px;
	background: #F5F5F5;
	margin: 0 auto;
}
.wrapper_nav_content_leftul,.wrapper_nav_content_rightul{
	list-style-type: none;
}
.wrapper_nav_content_leftul li{
	height: 36px;
	// background:red;
	float: left;
}
.wrapper_nav_content_leftul_li1{
	width: 80px;
}
.wrapper_nav_content_leftul > li span{
	height: 36px;
	line-height: 36px;
	padding: 0px 5px;
}
.wrapper_nav_content_leftul_region,.wrapper_nav_content_rightul > li a,.login a,.wrapper_nav_content_leftul_li3>.login_2{
	font-size: 12px;
	color: #d1d1d1;
	text-decoration: none;
	padding: 0px 5px;
	height: 36px;
	line-height: 36px;
	padding: 0px 5px;
}
.wrapper_nav_content_leftul_xsj{
	vertical-align:middle;
	display: inline-block;
	width: 6px;
	height: 3px;
}
.wrapper_nav_content_leftul_xsj > img {
	width: 6px;
	height: 3px;
	vertical-align: middle;
}
.region{
	height: 468px;
	width: 240px;
	background:#ffffff;
	display: none;;
}
.wrapper_nav_content_rightul > li{
	width: 36px;
	width: 240px;
	display: inline-block;
}
.wrapper_nav_content_leftul_li1:hover .region{
	display:block;
}
.wrapper_nav_content_leftul_li1:hover{
	background: #ffffff;
}
.wrapper_nav_content_leftul_li1 li a{
	display: inline-block;
	width: 240px;
	height: 36px;
}
.wrapper_nav_content_rightul li:hover{
	background: #F5F5F5;
}
.login > a{
	display: inline-block;
}
.login > .login_1{
	color: red;
}
.wrapper_nav_content_leftul_li3>.login_2{
	margin-left: 10px;
}





.search-wrap